{{ define "main" }}
  <h1>Default single template</h1>
  <h2>{{ .Title }}</h2>
  {{ .Content }}

  {{ if .Params.tags }}<strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}{{ end }}
  {{ if .Params.country }}<strong>Country:</strong> {{range .Params.country}}<a href="{{ "/country/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}{{ end }}
  {{ if .Params.moods }}<strong>Moods:</strong> {{range .Params.moods}}<a href="{{ "/moods/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}

{{ end }}
