<!--textarea name="name" rows="20" cols="80">

  {{ $dot := . }}
  {{ $dot.Scratch.Set "path" "" }}
  {{ $dot.Scratch.Set "breadcrumb" slice }}

  {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
  {{ $.Scratch.Add "path" .Site.BaseURL }}

  {{ $.Scratch.Add "breadcrumb" (slice (dict "url" .Site.BaseURL "name" "home" "position" 1 )) }}
    {{ range $index, $element := split $url "/" }}
      {{ $dot.Scratch.Add "path" $element }}
      {{ $.Scratch.Add "path" "/" }}
      {{ if ne $element "" }}
      {{ $.Scratch.Add "breadcrumb" (slice (dict "url" ($.Scratch.Get "path") "name" . "position" (add $index 2))) }}
    {{ end }}
  {{ end }}

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{{ range $.Scratch.Get "breadcrumb" }}{{ if ne .position 1 }},{{ end }}{
          "@type": "ListItem",
          "position": {{ .position }},
          "item": {
            "@id": "{{ .url }}",
            "name": "{{ .name | plainify }}"
          }
      }{{ end }}]
  }
  </script>


</textarea -->



<h1 style="font-size: 2em; color: aqua">{{ .Name }}</h1>



<ul>
    {{ range $key, $value := .Site.Taxonomies.destination }}
    <li>
        <a href="/blog/{{ $key | urlize }}">{{ $key | title }}</a>
    </li>
    {{ end }}
</ul>

<hr>

<ul>
    {{ range $key, $value := .Site.Taxonomies.tags }}
    <li>
        <a href="/blog/{{ $key | urlize }}">{{ $key | title }}</a>
    </li>
    {{ end }}
</ul>

<hr>

<ul>
    {{ range $key, $value := .Site.Taxonomies.brand }}
    <li>
        <a href="/reviews/{{ $key | urlize }}">{{ $key | title }}</a>
    </li>
    {{ end }}
</ul>



<hr>
